.footer-container{
    height: 80vh;
    width: 100%;
    background-color: var(--teriary-color);
   
}
.footer-left{
    display: flex;
    justify-content: center;
    align-content: center;
}

.search {
    display: flex;
    align-items: center;
    width: 22%;
    height: 55px;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.search .search-icon {
    width: 50px;
    /* Adjust as needed */
    height: 60px;
    /* Adjust as needed */
    margin-left: 0.4rem;
    color: var(--color-white);
    margin-top: 0.3rem;
}
.jobportal-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title {
    margin: 0 0;
    font-size: 2.4rem;
    color: var(--color-white);
    text-transform: capitalize;

}

.title-subtext {
    margin: 0 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--color-white);

}
.cta-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
}
.footer-items{
    display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 8rem 1rem 0 9rem;
        margin-top: 3rem;
}
.footer-item{
display: flex;
    justify-content: center;
    align-content: center;
    flex-basis: content;
    flex-direction: column;
    height: 250px;
    width: 280px;
}
.company-details{
    color: var(--color-white);
    text-align: center;
}
.company-content{
    margin-bottom: 1rem;
}
.company-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-gray);
    height: 250px;
        width: 280px;
}

.userinput{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.useremail{
    height: 53px ;
    width: 280px;
    background-color: #001d38;
    color: var(--color-gray);
    border: 1px solid gray;
    border-radius: var(--borderd-radius);
}
.subscribe{
height: 46px;
    width: 120px;
    background-color: var(--secondary-color);
    color: var(--color-white);
    border-radius: var(--borderd-radius);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.3rem;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.icon{
    height: 40px;
    width: 40px;
    border: 1px solid var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.6rem;
    border-radius: 50%;
}