.client-feedback-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}
.client-feedback-left{
    display: flex;
        justify-content: center;
        align-items: center;
        flex: 5;
      
}
.client-feedback-image{
    height: 450px;
        width: 460px;
        box-shadow: 0 4px 8px 0 rgba(240, 240, 240, 0.992), 0 6px 20px 0 rgba(240, 240, 240, 0.992);
        border-radius: 5px;
}
.client-feedback-image img{
    height: 450px;
    width: 440px;
}
.client-feedback-right{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex: 5;
    padding: 0 3rem;
}
.client-feedback-heading{
    font-size: 2.7rem;
    margin-bottom: 0.5rem;
}
.client-feedback-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
}
.client-feedback-content p{
    margin-right: 4rem;
}
.client-details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-transform: capitalize;
    font-weight: 600;
}
.client-role{
    margin-top: 0.5rem;
}
.client-rating{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  margin-top: 0.5rem;
}
.star{
    color:#fbb000;
}