


.hero-container {
    margin-left: 10rem;
    background: none;
   padding-top: 14rem;
}

.job-list {
    font-size: 1.8rem;
    color: var(--color-white);
    text-transform: capitalize;
    font-weight: 400;
    margin: 0 0;
    font-family: var(--font-family-2);
    margin-bottom: 0.5rem;
}

.hero-title {
    color: var(--color-white);
    font-size: 3.2rem;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 0;
    font-family: var(--font-family-2);
}

.hero-decription {
    color: var(--color-white);
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0.7rem 0;
    font-family: var(--font-family);
}

.ctn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    text-transform: capitalize;
    height: 50px;
    width: 220px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 2rem;
    color: var(--color-white);
    font-family: var(--font-family);
}
.hideDivBasedonRoutes{
    display: none;
}
.textstyle{
    font-size: 2rem;
    font-weight: 700;
    width: 500px;
    margin-top: 0;
    color: var(--color-white);
}