.imagecarousel-container{
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Slider container styling */
.slider-container {
    position: relative;
    width: 85%;
    margin: 0 auto;
    margin-top: 6rem;
}

.caraouselheading{
    text-align: center;
    text-transform: capitalize;
}
/* Styling for image carousel items */
.imagecarousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imagecarousel-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.imagecarousel-item{
    height:270px;
    width: 270px;
    /* box-shadow: 0 4px 8px 0 var(--color-gray), 0 6px 20px 0 var(--color-gray); */
    box-shadow: 0 4px 8px 0 rgba(240, 240, 240, 0.992), 0 6px 20px 0 rgba(240, 240, 240, 0.992);
}
.carousel-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.imagecarousel-item .carousel-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.imagecarousel-item .employee-name {
    margin-top: 18px;
    font-size: 1.2em;
}

.imagecarousel-item .profession {
    color: gray;
}

/* Custom styling for slick carousel arrows */
.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    margin-top: 9rem;
    color: var(--background);
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
    color: var(--quartinary);
}