.browse-search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99px;
   /* background-color: #e3e5f0; */
    margin-top: 2rem;
    
}
input{
    display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        height: 45px;
        width: 300px ;
        font-weight: 600;
        border-radius: 4px;
        font-size: 1rem;
        font-family: var(--font-family-2);
        margin-right: 2rem;
}
.dropdownmenu{
    display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        height: 45px;
        width: 300px;
        font-weight: 600;
        border-radius: 4px;
        font-size: 1rem;
        font-family: var(--font-family-2);
        margin-right: 2rem;
}
.post-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    text-transform: capitalize;
    height: 50px;
    width: 150px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 1rem;
    font-family: var(--font-family-2);

}

#post-btn {
    width: 120px !important;
    margin-right: 1rem;
}