
.browsejob-container {
display: flex;
    justify-content: center;
    align-items: flex-start;
}
.search-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-purple);
}
.job-middle-container {
    width: 600px;
    padding: 1rem;
    border-radius: var(--borderd-radius);
  
}