.card-items {
    width: 610px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(240, 240, 240, 0.992), 0 6px 20px 0 rgba(240, 240, 240, 0.992);
    margin-bottom: 2rem;
    border: 1px solid rgb(233, 231, 231);
    border-radius: var(--borderd-radius);
}

.card-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.company-logo img {
    height: 70px;
    width: 70px;
    margin: 0 2rem;
    border-radius: var(--borderd-radius);
}

.card-contents {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.comapanyname {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    color: var(--color-gray);
}

.jobtitle {
    font-size: 1.2rem;
    margin: 0 0 0 0;
    font-weight: 600;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-icon,
.employementtype {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    margin: 0.8rem 0.5rem 0 0;
}

.icon {
    height: 20px;
    color: var(--color-gray);
}

.icon-text {
    font-size: 1.1rem;
    color: var(--color-gray);
}

.card-right {
    padding-right: 0.5rem;
}

.apply-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    text-transform: capitalize;
    height: 50px;
    width: 120px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 1rem;
    font-family: var(--font-family-2);
    color: var(--color-white);
}

.posted-date {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-gray);
}