.card{
    width: 150px;
      color: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border: 1px solid var(--background);
        border-radius: var(--borderd-radius);
        margin: 0 0.7rem 0 0;
        font-family: var(--font-family-2);
}