  .form-Employer-container{
     max-width: 800px;
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px auto;
    padding: 0px 0px 20px 0px;
  }

  .header {
      text-align: center;
      color: #333;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 3rem;
  } 

  .form {
      display: flex;
      flex-direction: column;
  }

  .grid {
      display: flex;
      gap: 20px;
      margin-bottom: 15px;
  }

  .input {
      flex: 1;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ddd;
      box-sizing: border-box;
  }
  .handleInput{
    padding: 0px;
    width: 210px;
    margin-right: 0px;
  }
  .select {
      flex: 1;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ddd;
      box-sizing: border-box;
    width: 206px;
    /* remove the background color of select input */
    outline: none;
    background-color: transparent;
     appearance: none;
     padding: 13px;
  }

  .quillContainer {
      margin-bottom: 15px;
  }

  .quill {
      height: 240px;
      border: 1px solid #ddd;
      border-radius: 5px;
  }

  .submitButton {
      padding: 15px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      background-color: var(--secondary-color);
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 45px;
      align-self: center;
      width: 150px;
      font-weight: 600;
  }
  .submitButton:hover {
      background-color: var(--secondary-color);
  }